/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3        &kp N4     &kp N5                            &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E         &kp R      &kp T                             &kp Y   &kp U   &kp I      &kp O    &kp P     &kp LEFT_BRACKET
&kp GRAVE  &kp A   &kp S   &kp D         &kp F      &kp G                             &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C         &kp V      &kp B     &tog 1       &tog 2     &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LEFT_ALT  &kp LCTRL  &kp LGUI  &kp ENTER    &kp SPACE  &mo 1   &mo 2   &tog 3
            >;
        };

        lower_layer {
            // --------------------------------------------------------------------------------------------------------------
            // | LPAD  | BRDn | BRUp |  MUT |  Vo- |  Vo+ |                   |      |       |       |      |       |       |
            // |  F1   |  F2  |  F3  |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !   |  @   |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |      |      |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                       |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans        &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                       &none         &none     &kp PAGE_UP    &none      &none                &kp DELETE
&trans        &kp F6   &kp F7   &kp F8   &kp F9   &kp F10                      &none         &none     &kp UP         &none      &none                &kp RIGHT_BRACKET
&kp CAPSLOCK  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15                      &kp LC(LEFT)  &kp LEFT  &kp DOWN       &kp RIGHT  &kp LC(RIGHT_ARROW)  &kp END
&trans        &none    &none    &none    &none    &none    &tog 1    &kp HOME  &none         &none     &kp PAGE_DOWN  &none      &kp BACKSLASH        &trans
                                &trans   &trans   &trans   &trans    &trans    &trans        &trans    &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans      &none  &none            &none              &none   &none                     &none      &none      &none     &none             &none            &trans
&trans      &none  &none            &kp C_VOLUME_UP    &none   &none                     &none      &none      &none     &none             &kp PRINTSCREEN  &trans
&caps_word  &none  &kp PRINTSCREEN  &kp C_VOLUME_DOWN  &none   &none                     &kp UNDER  &kp MINUS  &kp PLUS  &kp EQUAL         &none            &trans
&trans      &none  &none            &kp K_MUTE         &none   &none   &none     &tog 2  &none      &none      &none     &kp GREATER_THAN  &none            &trans
                                    &trans             &trans  &trans  &trans    &trans  &trans     &trans     &trans
            >;
        };

        layer_3 {
            bindings = <
&trans    &trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&kp TAB   &trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&kp CAPS  &trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans  &trans  &trans  &trans  &trans     &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                          &trans  &trans  &kp SPACE  &trans    &trans  &trans  &trans  &tog 3
            >;
        };
    };
};
