/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                                 &kp N6  &kp N7  &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp GRAVE  &kp Q   &kp W   &kp E         &kp R         &kp T                                  &kp Y   &kp U   &kp I      &kp O    &kp P     &kp LEFT_BRACKET
&kp TAB    &kp A   &kp S   &kp D         &kp F         &kp G                                  &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C         &kp V         &kp B      &kp CAPSLOCK    &kp DELETE  &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &kp ENTER       &kp SPACE   &mo 1   &mo 2   &kp RCTRL
            >;
        };

        lower_layer {
            // --------------------------------------------------------------------------------------------------------------
            // | LPAD  | BRDn | BRUp |  MUT |  Vo- |  Vo+ |                   |      |       |       |      |       |       |
            // |  F1   |  F2  |  F3  |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !   |  @   |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |      |      |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                       |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans          &trans     &trans        &trans    &trans                         &trans        &trans             &kp LC(UP)    &trans         &trans         &kp DELETE
&trans  &trans          &trans     &kp ASTERISK  &trans    &trans                         &kp F7        &kp K_SCROLL_UP    &kp UP        &kp PAGE_UP    &trans         &trans
&trans  &kp UNDERSCORE  &kp MINUS  &kp SLASH     &kp PLUS  &kp EQUAL                      &kp LC(LEFT)  &kp LEFT           &kp DOWN      &kp RIGHT      &kp LC(RIGHT)  &kp END
&trans  &trans          &trans     &trans        &trans    &trans     &trans    &kp HOME  &trans        &kp K_SCROLL_DOWN  &kp LC(DOWN)  &kp PAGE_DOWN  &trans         &trans
                                   &trans        &trans    &trans     &trans    &trans    &trans        &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &kp F1         &kp F2                &kp F3             &kp F4            &kp F5                     &kp F6   &kp F7             &kp F8           &kp F9                 &kp F10           &trans
&trans  &trans         &trans                &kp C_VOLUME_UP    &trans            &kp F11                    &kp F12  &trans             &trans           &trans                 &trans            &trans
&trans  &trans         &kp PRINTSCREEN       &kp C_VOLUME_DOWN  &trans            &trans                     &trans   &trans             &trans           &trans                 &trans            &trans
&trans  &kp LESS_THAN  &kp LEFT_PARENTHESIS  &kp LEFT_BRACE     &kp LEFT_BRACKET  &trans   &trans    &trans  &trans   &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &trans
                                             &trans             &trans            &trans   &trans    &trans  &trans   &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
